<%= render :partial => '/templates/civil' %>
<%= render :partial => '/templates/development' %>
<%= render :partial => '/templates/diplomacy' %>
<%= render :partial => '/templates/info' %>
<%= render :partial => '/templates/market' %>
<%= render :partial => '/templates/military' %>
<%= render :partial => '/templates/move' %>
<%= render :partial => '/templates/officers' %>
<%= render :partial => '/templates/personel' %>
<%= render :partial => '/templates/report' %>

<%= render :partial => '/shared/rotk_header' %>

<div class='container'>
  <div id='page' class='table container'>
    <div class='col-xs-3 col-md-2'>
      <%= render :partial => '/shared/navbar' %>
    </div>
    <div class='col-xs-9 col-md-10'>
      <%= render :partial => 'province_header' %>
      <div id='details_container'>
        <%= render :partial => 'info' %>
      </div>
    </div>
  </div>
</div>

<%if params['map'] == 'true' %>
  <%= render :partial => 'map' %>
<%end%>
